@import "./mixins.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 14px "Poppins", "sans-serif";
  line-height: 21px;
  color: $text-dark;
}
body {
  background-color: #e9e9e9;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.loading_screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  background-color: $green;
  box-shadow: 2px 0 25px rgba($color: $text-dark, $alpha: 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  min-height: 85px;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .brand {
      font-size: 36px;
      line-height: 54px;
      font-weight: 600;
      letter-spacing: 1px;
      color: $text-light;
      display: flex;
      align-items: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      position: absolute;
      top: calc(100% + 15px);
      width: 100%;
      background-color: #fafafa;
      padding: 15px;
      li {
        width: 100%;
        border-radius: 4px;
        a {
          color: $text-dark;
          display: flex;
          justify-content: center;
        }
        button {
          width: 100%;
          height: 100%;
          color: $text-dark;
          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}

// Globals
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  white-space: nowrap;
}
.btn-primary {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: $orange;
  color: $text-light;
  &:hover {
    background-color: rgba($color: $orange, $alpha: 0.75);
  }
}
.btn-orange {
  background-color: $orange;
  &:hover {
    background-color: rgba($color: $orange, $alpha: 0.75);
  }
}
.btn-green {
  background-color: $green;
  &:hover {
    background-color: rgba($color: $green, $alpha: 0.75);
  }
}

input {
  border: 0;
  background-color: #e9e9e9;
  padding: 12px 15px;
  outline: 0;
  border-radius: 8px;
}

// VIEWS
// Home
.home_view {
  .home_view-header_grid {
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    section {
      border-radius: 8px;
      padding: 25px;
      box-shadow: 2px 4px 10px -4px rgba($color: $text-dark, $alpha: 0.15);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &.primary {
        span,
        h3 {
          color: $text-light;
        }
        span {
          @include Text(600, 28px, 42px);
        }
        h3 {
          @include Text(500, 18px, 27px);
        }
      }
      &.header_grid-daily_limit {
        background-color: $text-dark;
      }
      &.header_grid-gain_loss {
        background-color: $green;
      }

      &.secondary {
        background-color: $text-light;
        span {
          @include Text(600, 28px, 42px);
        }
        h3 {
          @include Text(500, 18px, 27px);
        }
      }
    }
  }
  .progress_container {
    margin-block: 30px;
    progress {
      appearance: none;
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      &::-webkit-progress-bar {
        border-radius: 25px;
        background-color: $text-light;
      }

      &::-webkit-progress-value {
        background-color: $green;
        border-radius: 25px;
      }
    }
  }

  .meals_workouts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}

// Signup
.signup_view,
.home_view {
  padding-top: 125px;
  padding-inline: 15px;
}

// COMPONENTS
// ItemBase
.item_base {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  h5,
  span {
    font-weight: 500;
  }

  .item_base-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;

    transform: translateY(-100%);
    transition: transform 0.25s;
    .item_base-actions,
    .item_base-delete_confirm {
      display: flex;
      align-items: center;
      gap: 15px;
      width: 100%;
      height: 100%;
      padding-inline: 25px;
    }
    .item_base-delete_confirm {
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
    .item_base-edit_confirm {
      display: grid;
      grid-template-columns: 2.5fr 1fr;
      align-items: center;
      height: 100%;
      .edit_input {
        width: 100%;
        color: $text-light;
        &:nth-child(2) {
          padding-right: 70px;
        }
      }
      button {
        position: absolute;
        right: 25px;
      }
    }
    p,
    button {
      font-weight: 500;
      color: $text-light;
    }
    button {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &:hover .item_base-overlay {
    transform: translateY(0);
  }
}

// ListBase
.list_base {
  .list_base-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 15px;
    margin-block: 15px;
    .list_base-header_title {
      display: flex;
      align-items: center;
      gap: 5px;

      h3 {
        @include Text(600, 18px, 27px);
      }
      span {
        @include Text(400, 12px, 18px);
        color: rgba($color: $text-dark, $alpha: 0.5);
      }
    }
    button {
      font-weight: 500;
      color: $text-light;
      padding: 10px 15px;
      border-radius: 4px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .search_input {
    background-color: $text-light;
    width: 100%;
  }
  &.theme-green {
    .item_base {
      border: 1px solid rgba($color: $green, $alpha: 0.25);
      padding: 15px;
      border-radius: 8px;
      span {
        color: $green;
      }
      .item_base-overlay {
        background-color: rgba($color: $green, $alpha: 0.9);
      }
    }
    .list_base-header {
      border-left: 3px solid $green;
    }

    .item_base-edit_confirm {
      .edit_input {
        background-color: rgba($color: $green, $alpha: 0);
      }
    }
  }
  &.theme-orange {
    .item_base {
      border: 1px solid rgba($color: $orange, $alpha: 0.25);
      padding: 15px;
      border-radius: 8px;
      span {
        color: $orange;
      }

      .item_base-overlay {
        background-color: rgba($color: $orange, $alpha: 0.9);
      }
    }

    .list_base-header {
      border-left: 3px solid $orange;
    }

    .item_base-edit_confirm {
      .edit_input {
        background-color: rgba($color: $orange, $alpha: 0);
      }
    }
  }
}

// DialogBase
.dialog_base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: rgba($color: $text-dark, $alpha: 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 15px;
}
// FormBase
.form_base {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: $text-light;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 2px 8px 25px -5px rgba($color: $text-dark, $alpha: 0.05);

  button {
    margin-left: auto;
    font-weight: 500;
    color: $text-light;
  }
  .input_group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25px;
    label {
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  .error-msg {
    font-weight: 500;
    &.msg-error {
      color: $red;
    }
    &.msg-info {
      color: $green;
    }
  }
}

// animations
.dialog-enter-active,
.dialog-leave-active {
  transition: all 0.5s ease-in-out;
}

.dialog-leave-to,
.dialog-enter-from {
  opacity: 0;
}
.dialog-leave-to form {
  transition: all 0.5s;
  transform: scale(0.7);
}

.dialog-enter-from form {
  opacity: 0;
  transform: scale(1.3);
}
.dialog-enter-to form {
  transition: all 0.5s;
}

// MEDIA QUERY
@media (width > 576px) {
  header {
    nav {
      ul {
        position: static;
        background-color: transparent;
        flex-direction: row;
        width: fit-content;
        li {
          button {
            color: rgba($color: $text-light, $alpha: 0.75);
            &:hover {
              color: $text-light;
            }
          }
        }
      }
    }
  }
  .home_view {
    .home_view-header_grid {
      section {
        &.primary {
          span {
            @include Text(600, 36px, 54px);
          }
          h3 {
            @include Text(500, 22px, 33px);
          }
        }
      }
    }
  }
}

@media (width > 600px) {
  .dialog_base {
    padding-inline: 0;
  }
}
@media (width > 1600px) {
  .signup_view,
  .home_view,
  header {
    padding-inline: 0;
  }
}

@media (width > 967px) {
  .home_view {
    .home_view-header_grid {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);
      section {
        &.primary {
          span,
          h3 {
            color: $text-light;
          }
          span {
            @include Text(600, 28px, 42px);
          }
          h3 {
            @include Text(500, 18px, 27px);
          }
        }

        &.header_grid-daily_limit {
          background-color: $text-dark;
          grid-column: 1/7;
        }
        &.header_grid-gain_loss {
          background-color: $green;
          grid-column: 7/13;
        }
        &.header_grid-calories_consumed {
          grid-column: 1/5;
        }
        &.header_grid-calories_burned {
          grid-column: 5/9;
        }
        &.header_grid-calories_remaining {
          grid-column: 9/13;
        }
      }
    }
    .meals_workouts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
}
@media (width > 1200px) {
  .home_view {
    .home_view-header_grid {
      section {
        &.primary {
          span {
            @include Text(600, 36px, 54px);
          }
          h3 {
            @include Text(500, 22px, 33px);
          }
        }
      }
    }
  }
}
